body{
    color:aquamarine;
    background:red;
}
span{
    font-size:30px ;
}
#camera,#result{
    border:2px dashed brown;
    width: 350px;
    height: 300px;
}
#result_emotion_name,#result_emotion_name2{
    color: blueviolet;
}
.emotion_name{
    font-size: 40;
}
.emoji{
 font-size: 50;
}
.heading{   
    font-size: 20;
}